.title-chart {
  width: 100%;
  background-color: #F8F9FC;
  color: #4E73DF;
  font-size: 0.8rem;
  font-weight: bold;
  border-top-left-radius: 0.4rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-right-radius: 0.4rem;
}

.dropdown-row {
  display: inline-grid;
  grid-template-columns: repeat(100, 1fr);
  align-items: center;
}

.drop-button {
  background-color: white;
  border: 1px solid #e3e6f0;
  color: inherit;
  border-radius: 
}

.table-for-clicks {
  display: inline-grid;
  grid-template-columns: repeat(100, 1fr);
  border: 1px solid white;
  height: 1rem;
  border-radius: 1rem;
  flex: 1;
}

.holder-all-stats {
  overflow-y: auto;
  height: 150px;
}

.row-for-click {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  width: 100%;
}

.circle-for-color {
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline-block;
  border-radius: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  height: 1rem;
}

.text-for-click {
  grid-column-start: 2;
  grid-column-end: 10;
}

.right-percentage {
  grid-column-start: 10;
  grid-column-end: 11;
  display: inline-grid;
  justify-items: flex-end;
}

.table-for-clicks > .table-cell-click {
  display: table-cell;
}

.table-for-clicks > .table-cell-click:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.table-for-clicks > .table-cell-click:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* .table-for-clicks > .table-cell-click:nth-child(odd) {
  background-color: pink;
}

.table-for-clicks > .table-cell-click:nth-child(even) {
  background-color: blue;
} */

.smaller-brand-icon > img {
  width: 1rem;  
}

.cards-metricas {
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  height: 4rem;
  max-height: 100%;
}

.cards-metricas > .card-body {
  width: 100%;
}

.cards-metricas svg {
  position: relative;
  right: 0;
}

.hidden {
  display: none !important; 
  opacity: 0;
}

.carregar { 
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.border-carregar { 
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px dashed #858796;
  border-radius: 11px;
  opacity: 1;
}

#user-submitted-image {
  margin-left: 50%; 
  transform: translate(50%, 0%);
}

.border-carregar span {
  position: relative; 
  display: block;
  width: 25rem;
  height: 20%;
  margin-left: 50%; 
  padding-left: 2px;
  padding-right: 2px; 
  transform: translate(-50%, 0%);
  border: 1px solid #4E73DF;
  border-radius: 7px;
  opacity: 1;
  text-align: center;
  font: Regular 23px/34px Nunito;
  letter-spacing: 0.69px;
  color: #4E73DF;
}

.border-carregar span:hover {
  background-color: #4E73DF;
  color: white;
  cursor: grab;
}

.feather-larger {
  margin-left: 50%; 
  transform: translate(-50%, 0%);
  width: 16%;
  height: 16%;
}

.image-container {
  position: relative; 
  height: 4rem; 
  width: 4rem;
}

.image-container img {
  position: absolute;
  text-align: center; 
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, 0%);
}

.image-preview {
  display: block;
  height: 2rem;
}

.image-preview img {
  position: relative;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  height: 80%;
}

.selecionado {
  border: 8px solid #4E73DF;
  border-radius: 6px;
}

.greenDot {
    height: 1em;
    width: 1em;
    background-color: #1ac88a;
    border-radius: 50%;
    display: inline-block;
}

.redDot {
    height: 1em;
    width: 1em;
    background-color: #e74a3b;
    border-radius: 50%;
    display: inline-block;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 


/*chat.html*/
.holder-chat{
  overflow-y: auto;
  height: 450px;
  width: 100%;
}

.holder-chat .organizer{
  display: flex;
  margin-bottom: 1rem;
  background-color: #ededed;
  box-sizing: border-box;
  padding: 0.9rem;
  color: black;
  border-radius: 0.3em;
  margin-right: 1em;
}

.holder-chat .organizer:hover{
  background-color: #e3e3e3;
}

.holder-chat .organizer .name-message-holder{
  flex: 1;
}

.name-message-holder .name{
  margin-bottom: 0.3rem;
  font-weight: 800;
  font-size: 0.85em;
}

.name span{
  margin-left: 1em;
  font-weight: 300;
  font-size: 0.85em;
}

.name-message-holder .message{
  font-size: 0.9em;
}

.organizer .icon{
  cursor: pointer;
  color: #a6a6a6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-True{
  color: green !important;
}

.organizer .icon i{
  cursor: pointer;
}

.organizer .icon:hover{
  color: #8f8f8f;
}

.organizer .icon .active{
  color: #00e30c;
}

.organizer .icon .active:hover{
  color: #009e08;
}




